<div class="container mx-auto mt-16  border text-cyan-800">
    <div class="login flex flex-col align-middle justify-center">
        <div class="flex align-middle justify-center">
            <label for="email">Usuário: </label>
            <input class="border" type="email" name="email" id="email" [(ngModel)]="email">
        </div>
        <div class="flex align-middle justify-center">
            <label for="senha">Senha: </label>
            <input class="border" type="password" name="senha" id="senha" [(ngModel)]="pass">
        </div>
        <div class="flex align-middle justify-center">
            <button (click)="login()">Entrar</button>
        </div>
        <div class="flex align-middle justify-center">
            <button (click)="register()">Registrar</button>
        </div>
    </div>
</div>

<div class="container" *ngIf="auth.user">
    <pre>{{auth.user | json}}</pre>
    <button (click)="sair()">Sair</button>
</div>
